<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link href="/style.css" rel="stylesheet">
    <title>BLOGGITY BLOG BLOG</title>
  </head>
  <body>
   <% @blogger_list.each do |row| %>
  <div class="container-fluid" style="padding: 20px 20px;">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Blog entry</h5>
        <h6 class="card-subtitle mb-2 text-muted">by <%= row.name %></h6>
        <p class="card-text"><%= row.message %></p>
        <a href="#" class="card-link">more...</a>
      </div>
    </div>
    </div>
    <% end%>
  </body>
</html>
