<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    
    <title>BLOGGITY BLOG BLOG</title>
  </head>
  <body>
    <table class="table">
      <% @blogger_list.each do |row| %>
        <tr>
          <td><%= row %> </a></td>
        </tr>
      <% end%>
    </table>
  </body>
</html>




