<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <link href="/style.css" rel="stylesheet">
    <title>BLOGGITY BLOG BLOG</title>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Melblog 🐙</h1>
    <p class="lead">Welcome to the best blog evar</p>
  </div>
</div>
  <div class="container-fluid" style="padding: 20px 20px;">
<form action="/submit" method="post">
  <div class="form-group">
    <label for="exampleFormControlInput1" style="color: white;">Name</label>
    <input type="text" name="name" class="form-control" id="exampleFormControlInput1" placeholder="Your name">
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1" style="color: white;">Blog entry</label>
    <textarea class="form-control" name="message" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
</div>
  </body>
</html>
